{% load static %}
{% static "images" as baseUrl %}
<!doctype html>
<html lang="en">
  <head>
  
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

    <title>Arijit Mondal</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <a class="navbar-brand" href="{% url 'index' %}">Store</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="{% url 'cart' %}">Cart</a>
        </div>
      </div>
    </nav>
    {% for product in products %}
	<div class="col-lg-3 col-md-6">
		<div class="single-product">
			<a href="product/single_product/{{product.slug}}">
			  <img class="img-fluid" src="{{product.imageURL}}" alt=""> 
			</a>  
			<div class="product-details">
				<h6>{{product.name}}</h6>
				<div class="price">
					<h6>${{product.price|floatformat:2}}</h6>
					<h6 class="l-through">$499.00</h6>
				</div>
	            <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-primary add-btn update-cart">Add to Cart</button>					
			</div>
		</div>
	</div>
	{% endfor %}
  <script>
   console.log('cart');
    if(localStorage.getItem('cart') == null){
    var cart = {};
    }
    else
    {
    cart = JSON.parse(localStorage.getItem('cart'));
    }
    $('.cart').click(function(){
    console.log('clicked');
    var idstr = this.id.toString();
    console.log(idstr);
    if (cart[idstr] !=undefined){
    cart[idstr] = cart[idstr] + 1;
    }
    else
    {
    cart[idstr] = 1;
    }
    console.log(cart);
    localStorage.setItem('cart', JSON.stringify(cart));
    });
  </script>
  
  </body>
</html>